@import "./assets/bootstrap.min.css";
@import "./assets/font-awesome.min.css";
:root {
    --btn-height: 30px;
    --green: #B4BF0F;
    --green-border: #9AA40A;
}

body {
    color: #707070;
}

.active {
    font-weight: 500;
    color: var(--green);
}

.nav-link {
    font-weight: bold;
}

.card-body {
    color: #0707070;
    background-color: #E8EF7E;
}

.card-body1 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.card {
    /* horizontal-align: middle; */
    /* align-self: center; */
}

.btn {
    height: var(--btn-height);
    border-radius: calc(var(--btn-height) / 2);
    background: var(--green);
    border: 1px solid var(--green-border);
    transition: all 200ms ease-in-out;
    color: white;
}

.btn:hover {
    opacity: 0.9;
}

form > input.form-control {
    height: var(--btn-height) !important;
    border-radius: 4px;
    font-size: .8em;
}

.contact-form {
    width: 90%;
    margin: 0 auto;
    padding: 5%;
}

.contact-form iframe {
    margin: 0 auto;
    width: 100%;
    border: none;
    height: 100vh;
}

header {
    position: sticky;
    top: 0;
    background: white;
    border-bottom: 1px solid var(--green);
    z-index: 100;
}