@import "./assets/bootstrap.min.css";

:root {
    --btn-height: 30px;
    --green: #B4BF0F;
    --green-border: #9AA40A;
    --gotham: 'Gotham rounded';
}

body {
    color: #707070;
    font-family: var(--gotham);
    line-height: 1.5;
}

.jumbotron {
    display: grid;
    place-items: center;
    height: 100vh;
    background: url('images/white-keyboard.jpg') no-repeat left top;
    background-size: cover;
}

.jumbotron .content {
    /*background: rgba(255, 255, 255, 0.5);*/
    padding: 20px 0;
}

.jumbotron p {
    text-shadow: 0 0 1px rgba(0,0,0,0.3);
}

.services {
    padding: 100px 0;
}

h3.card-text {
    font-size: 1.2rem;
}

ul {
    list-style-type: none;
    font-weight: lighter;
}

p {
    font-weight: lighter;
}

#portfolio .card img {
    height: 300px;
    object-fit: cover;
}


